* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #212121;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: rgb(67, 67, 67);
}

.options {
    display: flex;
    align-self: center;
    justify-content: space-around;
    width: 960px;
    gap: 16px;
}

.size,
.reset,
.rainbow,
.darken,
.color {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    margin: 30px 0px;
    color: #c8c8c8;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: transparent;
    height: 48px;
}

.align{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.random{
    flex: 1;
    margin-right: auto;
}

.modes{
    flex: 1;
    margin-left: auto;
}

.container {
    height: 960px;
    width: 960px;
    background-color: #919191;
    display: flex;
    flex-wrap: wrap;
    border: 0px;
}

.colorPicker{
    display: flex;
    width: 150px;
    align-items: flex-end;
    justify-content: center;
}

.container>* {
    flex: 1;
}

.container,
.container>*{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}